* {box-sizing:border-box}

/* Slider konténer */
.slider-container {
  max-width:  1400px;
  position:   relative;
  margin:     auto;    
  margin-bottom: -7px;
}

.slider-container img{
  width: 100%;
}

/* Elrejti a nem látható képeket */
.csuszik {
  display:    none;
}

/* Benne a szöveg */
.text {
  color:      white;
  font-size:  1.1rem;
  text-shadow: 2px 2px brown;
  padding:    8px 12px;
  position:   absolute;
  bottom:     22px;
  width:      100%;
  text-align: center;
  background-color: rgba(140, 140, 140, .6);
}

/* A képek számai (1/3) */
.numbertext {
  color:      #f2f2f2;
  font-size:  8px;
  padding:    8px 12px;
  position:   absolute;
  top:        0;
  visibility: hidden;
}

div#pontok{
  text-align: center;  
  margin-top: -15px;  
  margin-bottom: -10px;  
  background-color: maroon;
  visibility: hidden;
}

.pont {
  cursor:           pointer;
  height:           4px;
  width:            4px;
  margin:           0 2px;
  background-color: #ddd;
  border-radius:    50%;
  display:          inline-block;
  transition:       background-color 0.6s ease;
}

.active, .pont:hover {
  background-color: #555;
}

/* a képek kifakulása */
.fakul {
  -webkit-animation-name:     fakul;
  -webkit-animation-duration: 2s;
  animation-name:             fakul;
  animation-duration:         3s;
}

@-webkit-keyframes fakul {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fakul {
  from {opacity: .4}
  to {opacity: 1}
}